// ------------------------- Table-top -------------------------------

.book-table {
    background-color: #F2F2F2;
}

.container.book-table {
    background-color: #fff;
}

.book-table-top {
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #e1e8ee;
}

.book-top-head-wrapper {
    width: 33%;
}

.section-head.book-table-head {
    padding-left: 30px;
}

.book-top-select-wrapper {
    width: 33.3%;
    text-align: left;

    label {
        margin-right: 10px;
    }
}

.primary-select.book-select-left {
    background-color: #f0f4f7;
    padding-left: 30px;
    padding-right: 60px;
    background-position-x: 170px;
}

.primary-select.book-select-right {
    background-color: #f0f4f7;
    padding-left: 30px;
    padding-right: 60px;
    background-position-x: 120px;
}

// ------------------- Table-main-----------------------
.people-list {
    max-width: 165px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.date-list {
    display: flex;
    // flex: 1;
    overflow: hidden;
    margin-left: auto;
}

.table-lists {
    display: flex;
    padding: 0 30px;
}

.people-items > li {
    transform: translateY(12%);
    padding: 4px 0;
}

.people-items li div {
    padding: 20px 0;
}

.people-items li:first-of-type div{
    visibility: hidden;
}


.arrow-data-slider {
    width: 44px;
    background-color: #f0f4f7;
    position: relative;
    margin-top: 30px;
    margin-bottom: 3px;
    border-radius: 10px;
}

/* tbody {
    display: block;
    width: 100%;
} */

.table-data-list {
    overflow: hidden;
    width: 100%;
    padding: 5px;
}

.table-clock {
    padding: 30px 20px;
    color: #43484d;
}

.table-data-list tr {
    border-bottom: 1px solid #e1e8ee;
}

.table-data-list tr:last-of-type {
    border-bottom: none;
}

.table-data-list td {
    padding: 4px;
}

.table-data-list td:last-of-type {
    padding-right: 0;
}

.centered-axis-xy {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.button-tertiary.disabled {
    background-color: #d9d9d9;
    cursor: default;
    &:hover {
        opacity: 1;
    }
}