.footer-text {
    font-size: 14px;
    line-height: 24px;
    color: #86939e;
}

.footer-block {
    @extend .footer-text;
    background-color: $color-bg-light;
    padding: 70px 0 20px 0;
}

.footer-top-list {
    display: flex;
    align-items: baseline;
}

.footer-top-item {
    width: 23%;
    margin-left: 3%;
    &:first-of-type {
        width: 48%;
        margin-left: 0;
    }
}

.footer-head {
    font-size: 18px;
    font-family: "Robotomedium";
    line-height: 35px;
    color: #43484d;
}

.footer-parag {
    line-height: 20px;
}

.footer-item-head {
    padding-bottom: 20px;
}

.footer-form {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

.footer-soc-link {
    margin-right: 25px;
    color: #dee2e7;
    font-size: 18px;
}

.primary-field.footer {
    width: 100%;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.footer-btn {
    position: absolute;
    right: 1px;
    top: 1px;
    transform: translateY(50%);
    padding: 12px;
    color: #fff;
    border: 0px solid #e1e8ee;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #7dc855;
}

.footer-mid {
    padding: 20px 0;

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    img {
        margin-right: 20px;
    }
}

.footer-block.bot {
    background-color: #43484d;
}

.footer-top-list.bot {
    align-items: flex-end;
    padding-bottom: 70px;
    border-bottom: 1px solid #565b5f;
} 

.footer-head.bot {
    color: #fff;
}

.footer-bot-item {
    width: 23%;
    margin-right: 2.6%;

    &:last-of-type {
        margin-right: 0;
    }
}

.footer-top-list.bot-down {
    align-items: center;
} 

.footer-bot-sm {
    width: 10%;
    margin-right: 2.5%;
}

.footer-bot-md {
    width: 30%;
    margin-right: 2.5%;
}

.footer-bot-lg {
    width: 45%;
    margin-right: 0;
    text-align: right;
    font-size: 16px;
    color: #fff;
}

.arrow-up-wrapper {
    margin-left: 15px;
    width: 25px;
    height: 25px;
    border: 2px solid #565b5f;
    padding: 10px;
    border-radius: 50%;
    color: #fff;

    &:hover {
        opacity: 0.7;
        cursor: pointer;
        background-color: #fff;
        border-color: #fff;
        color: #333;
    }
}

.footer-block.bot.down {
    padding-top: 20px;
    padding-bottom: 30px;
}