.footer-top {
    background-color: $color-bg-light;
    padding: 70px 0 20px 0;
}

.footer-bottom {
    background-color: #43484d;
    padding: 70px 0 20px 0;
}

.footer-top-list {
    display: flex;
}

.footer-top-item {
    width: 23%;
    margin-left: 3%;
    &:first-of-type {
        width: 48%;
        margin-left: 0;
    }
}

.footer-head {
    font-size: 18px;
    font-family: "Robotomedium";
    line-height: 35px;
    color: #43484d;
}

.footer-parag {
    line-height: 20px;
}

.footer-text {
    font-size: 14px;
    line-height: 24px;
    color: #86939e;
}

.footer-item-head {
    padding-bottom: 20px;
}

.footer-form {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

.footer-soc-link {
    margin-right: 25px;
    color: #dee2e7;
    font-size: 18px;
}

.primary-field.footer {
    width: 100%;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.footer-btn {
    position: absolute;
    right: 2px;
    top: 4px;
    transform: translateY(50%);
    padding: 10px;
    color: #fff;
    border: 0px solid #e1e8ee;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #7dc855;
}

.footer-mid {
    padding: 20px 0;

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    img {
        margin-right: 20px;
    }
}


