header {
    padding: 25px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    & [class^="icon-"] {
        color: $color-icon-primary;
        font-size: 1.5em;
    }
}

.header-content-wrapper {
    position: relative;
    &.calendar {
        margin-left: 125px;
    }

    &.nav {
        @include position(auto, auto, auto, 25px);
    }

    &.stars {
        margin-left: 25px;
    }

    &.fav {
        margin-left: 25px;
    }

    &.search {
        margin-left: 40px;
    }

    &.logo {
        margin-left: 50px;
    }

    &.select {
        @include position(auto, 120px);
    }

    .icon-star {
        position: relative;
        cursor: pointer;
    }

    .last-star {
        &::after {
            @include position(auto, auto, 10px, 10px);
            content: url($images-folder + 'header/ellipse.png');
        }
    }
}

.icon-nav {
    cursor: pointer;
}

.icon-calendar {
    position: relative;
}

.icon-calendar {
    &::after {
        @include position(auto, auto, 10px, 13px);
        content: url($images-folder + 'header/ellipse.png');
    }
}

.header-mark {
    @include position();
    z-index: 10;
    font-family: $font-primary;
    font-size: 0.55em;
    color: $color-tertiary;
    &.calendar {
        @include position(-3px, -2px);
    }
    &.stars {
        @include position(-3px, 2px);
    }
}

.header-search {
    padding: 10px;
    border: 2px solid $color-br-primary;
    border-radius: $br-default;
}

.icon-search {
    @include position(0, 0, 0);
    font-size: 1.375em;
    padding: 8px;
    border-left: 1px solid $color-br-primary;
}

.logo-link {
    &:hover {
        opacity: 1;
    }
}

.logo {
    max-width: 192px;
    max-height: 57px;
}

.header-avatar {
    @include position(auto, auto, auto, 185px);
}

// ----------------------------- Nav-bar ------------------------------------

.nav-bar {
    @include position(0, null, null, 0, fixed);
    z-index: 999;
    height: 100%;
    width: 0;
    padding-top: 60px;
    overflow-x: hidden;
    transition: $trns-duration-lg;
    font-family: $font-quadratic;
    font-size: 1.8em;
    text-align: center;
    background-color: $color-secondary;
    color: $color-light;

    .icon-close {
        @include position(5%, 5%);
        display: block;
        font-size: 1.5em;
        opacity: unset;
        color: $color-bg-btn-2;
    }
}

.nav-bar-item {
    margin-bottom: 20px;
    &:last-of-type {
        margin-bottom: 0;
    }
}

.nav-bar-link {
    padding: 8px 8px 8px 32px;
    display: inline-block;
}

.nav-open {
    width: 100%;
}

.nav-close {
    width: 0;
}


