header {
    padding: 25px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    & i {
        color: $color-icon-primary;
        font-size: 1.5em;
    }
}

.header-content-wrapper {
    @include position(auto, auto, auto, auto, relative);
    &.calendar {
        margin-left: 125px;
    }
    &.nav {
        @include position(auto, auto, auto, 25px);
    }
    &.select {
        @include position(auto, 120px);
    }

    .icon-star {
        @include position(auto, auto, auto, auto, relative);
        cursor: pointer;
    }

    .last-star::after {
        content: url('../../assets/img/header/ellipse.png');
        @include position(auto, auto, 10px, 10px);
    }
}

.icon-nav {
    cursor: pointer;
}

.icon-calendar {
    @include position(auto, auto, auto, auto, relative);
}

.icon-calendar::after {
    content: url('../../assets/img/header/ellipse.png');
    @include position(auto, auto, 10px, 13px);
}

.header-mark {
    @include position();
    font-family: $font-tertiary;
    font-size: 0.75em;
    color: $color-text-tertiary;
    &.calendar {
        @include position(-4px, -2px);
    }
    &.stars {
        @include position(-4px, 2px);
    }
}

.header-search {
    padding: 10px;
    border: 2px solid $color-br-primary;
    border-radius: $br-default;
}

.icon-search {
    @include position(0, 0, 0);
    padding: 7px;
    border-left: 1px solid $color-br-primary;
}

.header-content-wrapper.logo {
    margin-left: 50px;
}

.header-avatar {
    @include position(null, null, null, $left: 185px);
}

// -------------------------------------- Booking Confirmation  -----------------------------------

.white-popup-block {
    display: flex;
    justify-content: center;
}

.data-list {
    padding: 30px;
    background-color: #358ed7;
    color: #fff;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.form-wrapper {
    position: relative;
    background-color: #fff;
    color: silver;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    .primary-field {
        width: 100%;
    }

    h3 {
        padding: 40px 0 30px 30px;
        font-size: 18px;
        font-family: "Robotomedium";
        color: #616976;
        border-bottom: 1px solid $color-br-primary;
    }

    input[type="checkbox"] {
        display: inline-block;
        width: 25px;
        height: 25px;
        border: none;
        margin-right: 10px;
    }

    .button-primary {
        padding: 12px 45px;
        margin-left: 20px;
        font-size: 16px;
        font-family: "Robotomedium";
        background-color: $color-bg-highlight;
        border-color: $color-bg-highlight;
        color: #fff;
    }
}

.form-list {
    padding: 30px;
    li:last-of-type {
        margin-top: 15px;
    }
}

.data-item-label {
    display: block;
    font-size: 14px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.data-item-desc {
    font-size: 32px;
    font-family: "Robotolight";
}

.data-item-label:last-of-type {
    display: inline-block;
    a {
        display: block;
    }
}

i.icon-star.close {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 28px;
    cursor: pointer;
}



.radio-toolbar {
    margin: 10px 0;
    user-select: none;
  }
  
.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.primary-field.radio {
    display: inline-block;
    padding: 12px 50px;
    font-family: "Robotomedium";
    font-size: 16px;
    border-color: #5da5df;
    color: #fff;
    cursor: pointer;
    &:first-of-type {
        margin-right: 10px;
    }
    &:hover {
        background-color: $color-bg-highlight;
        border-color: $color-bg-highlight;
    }
}


.radio-toolbar input[type="radio"]:checked + label {
    background-color: #fff;
    border-color: #fff;
    color: #358ed7;
    cursor: default;
}
  

  