header {
    padding: 25px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    & i {
        color: $color-icon-primary;
        font-size: 1.5em;
    }
}

.header-content-wrapper {
    position: relative;
    &.calendar {
        margin-left: 125px;
    }
    &.nav {
        @include position(auto, auto, auto, 25px);
    }
    &.select {
        @include position(auto, 120px);
    }

    .icon-star {
        position: relative;
        cursor: pointer;
    }

    .last-star::after {
        @include position(auto, auto, 10px, 10px);
        content: url('../../assets/img/header/ellipse.png');
    }
}

.icon-nav {
    cursor: pointer;
}

.icon-calendar {
    position: relative;
}

.icon-calendar::after {
    @include position(auto, auto, 10px, 13px);
    content: url('../../assets/img/header/ellipse.png');
}

.header-mark {
    @include position();
    font-family: $font-tertiary;
    font-size: 0.75em;
    color: $color-tertiary;
    &.calendar {
        @include position(-4px, -2px);
    }
    &.stars {
        @include position(-4px, 2px);
    }
}

.header-search {
    padding: 10px;
    border: 2px solid $color-br-primary;
    border-radius: $br-default;
}

.icon-search {
    @include position(0, 0, 0);
    padding: 7px;
    border-left: 1px solid $color-br-primary;
}

.header-content-wrapper.logo {
    margin-left: 50px;
}

.header-avatar {
    @include position(auto, auto, auto, 185px);
}

// -------------------------------------- Booking Confirmation  -----------------------------------

.white-popup-block {
    display: flex;
    justify-content: center;
}

.data-list {
    padding: 30px;
    background-color: $color-secondary;
    color: $color-light;
    border-top-left-radius: $br-default;
    border-bottom-left-radius: $br-default;
}

.form-wrapper {
    position: relative;
    background-color: $color-light;
    color: $color-text-primary;
    border-top-right-radius: $br-default;
    border-bottom-right-radius: $br-default;

    .primary-field {
        width: 100%;
    }

    input[type="checkbox"] {
        display: inline-block;
        width: 25px;
        height: 25px;
        border: none;
        margin-right: 10px;
    }

    .button-primary {
        padding: 12px 45px;
        margin-left: 20px;
        font-size: 1em;
        font-family: $font-tertiary;
        background-color: $color-tertiary;
        border-color: $color-tertiary;
        color: $color-light;
    }
}

.form-head {
    padding: 40px 0 30px 30px;
    font-size: 1.125em;
    font-family: $font-tertiary;
    color: $color-primary;
    border-bottom: 1px solid $color-br-primary;
}

.form-list {
    padding: 30px;
}

.form-item:last-of-type {
    &:last-of-type {
        margin-top: 15px;
    }
}

.data-item-label {
    display: block;
    font-size: 0.875em;
    padding-bottom: 10px;
    padding-top: 10px;
    &:last-of-type {
        display: inline-block;
    }
}

.data-item-desc {
    font-size: 2em;
    font-family: $font-secondary;
}

.data-item-block-link {
    display: block;
}

.icon-close {
    @include position(40px, 30px);
    font-size: 1.125em;
    cursor: pointer;
    &:hover {
        opacity: 0.5;
    }
}

.radio-toolbar {
    margin: 10px 0;
    user-select: none;
  }

.radio-field {
    opacity: 0;
    position: fixed;
    width: 0;
}

.primary-field.radio {
    display: inline-block;
    padding: 12px 50px;
    font-family: $font-tertiary;
    font-size: 1em;
    border-color: $color-br-tertiary;
    color: $color-light;
    cursor: pointer;
    &:first-of-type {
        margin-right: 10px;
    }
    &:hover {
        background-color: $color-tertiary;
        border-color: $color-tertiary;
    }
}

.radio-field:checked + .primary-field.radio {
    background-color: $color-light;
    border-color: $color-light;
    color: $color-secondary;
    cursor: default;
}
  