.info-rev {
    background-color: $color-bg-primary;
    padding-bottom: 45px;
}

.info-rev-cont {
    display: flex;
    margin-top: 20px;
}

.info-rev-left-wrapper {
    width: 66%;
    max-width: 750px;
    margin-right: 2%;
}

.info-rev-right-wrapper {
    max-width: 370px;
    text-align: right;
    width: 33%;
}

.block-wrapper.map {
    background-color: $color-bg-primary;
}

.map-img {
    width: 100%;
    max-width: 100%;
    max-height: 360px;
}

.block-wrapper.diners {
    margin-top: 34px;
    background-color: $color-bg-light;
    padding: 20px 0;
    border: none;
    border-radius: 10px;
    box-shadow: $box-shadow-primary;
}

.diners-head {
    text-align: left;
    padding: 0 0 20px 20px;
    color: #5e6977;
    font-size: 18px;
    @extend .clear-after;
    .icon-picture-shape {
        font-size: 24px;
        padding-right: 10px;
        padding-top: 0px;
        float: left;
    }
}

.diners-photos-link {
    &:hover {
        opacity: 0.5;
    }    
}

.diners-photo {
        max-width: 33%;
        max-height: 125px;
    }

.diners-photos-load {
    display: block;
    padding-top: 15px;
    text-align: center;
    color: #358ed7;
    font-family: "Robotomedium";
    &:hover {
        opacity: 0.5;
    }  
}

// ------------------------------- Left section Info --------------------------------

.block-wrapper.info {
    margin-bottom: 40px;
}

.info-list { 
    padding: 25px 0;
    display: flex;
    justify-content: center;
}

.info-item {
    margin-right: 15px;
}

.info-item:last-of-type {
    margin-right: 0;
}

.info-sample-menu {
    display: block;
}

.sample-list-top {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    border-bottom: 1px solid #e1e8ee;
}

.sample-item-top {
    margin-left: 45px;
}

.sample-item-top:first-of-type {
    margin-left: 0;
}

.button-primary.active-state {
    color: #358ed7;
    border-color: #358ed7;
}

.sample-item-link {
    color: $color-text-primary;
}

.sample-item-link.active {
    border-bottom: 2px solid #5e6977;
    padding: 0 20px 18px 20px;
    color: $color-text-secondary;
}

.sample-item-bot-item {
    border-bottom: 1px solid #e1e8ee;
    padding: 20px;
}

.sample-item-bot-title {
    @include ofl-ellipsis;
    color: #43484d;
    span {
        float: right;
    }
}

.sample-item-bot-desc {
    @include ofl-ellipsis;
    color: #86939e;
    padding-top: 10px;
    font-size: 14px;
}

.info-open-times {
    display: none;
}

.info-open-times-item {
    padding: 20px;
    font-size: 18px;
    color: #43484d;
}

.info-open-times-day {
    @include ofl-ellipsis;
    display: inline-block;
}

.info-open-times-day {
    width: 20%;
    max-width: 120px;
    vertical-align: top;
    display: inline-block;
}

.info-open-times-time {
    display: inline-block;
    max-width: 70%;
}

.info-more-details {
    display: none;
}


.info-more-details-item {
    padding: 20px;
    font-size: 18px;
    color: #43484d;

    &:last-of-type .info-more-details-desc {
        width: 70%;
    }
}

.info-more-details-title {
    display: inline-block;
    width: 22%;
    margin-right: auto;
    vertical-align: top;
}

.info-more-details-desc {
    display: inline-block;
    width: 30%;
    margin-left: 20px;
    font-size: 14px;
    color: #86939e;
}

.info-more-details-desc .button-secondary {
    margin-bottom: 10px;
    background-color: #bdc6cf;
}

// ---------------------------- Reviews ------------------------------

.block-wrapper.rev {
    margin-top: 20px
}

.rev-list {
    font-size: 14px;
}

.rev-item {
    border-bottom: 1px solid #e1e8ee;
    padding: 20px;
}

.rev-item-left {
    display: inline-block;
    width: 10%;
    vertical-align: top;
}

.rev-item-right {
    display: inline-block;
    width: 88%;
}

.rev-item-right.active {
    background-color: $color-bg-primary;
    padding: 20px;
    margin-top: 20px;
    width: 100%;
    border-radius: $br-md;
}

.rev-item-right-info  {
    padding-bottom: 10px;
    & .info-date {
        margin-left: 20px;
    }
}

.rev-item-right-comment {
    padding-top: 10px;
}

.rev-item-right-info {
    .user {
        font-family: "Robotomedium";
        color: $color-text-secondary;
    }

    .date {
        margin-left: 10px;
    }
}

.button-primary i {
    margin-right: 10px;
}

.rev-item-right-stars {
    font-size: 18px;
}



