button {
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}

.button-primary {
    padding: 11px 18px;
    border: 2px solid #e1e8ee;
    background-color: #fff;
    font-size: 14px;
    border-radius: 4px;
    color: $color-text-primary;
}

.button-secondary {
    font-size: 0.75em;
    font-family: 'Robotomedium';
    padding: 5px 10px;
    border: none;
    border-radius: $br-lg;
    text-transform: capitalize;
    color: $color-text-light;
}

.button-tertiary {
    @include ofl-ellipsis;
    font-size: 0.875em;
    font-family: 'Robotomedium';
    width: 90px;
    padding: 20px 5px;
    border: none;
    border-radius: $br-default;
    text-transform: capitalize;
    color: $color-text-light;
    background-color: $color-bg-btn-3;
}
