button {
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}

.button-secondary {
    font-size: 0.75em;
    font-family: 'Robotomedium';
    padding: 5px 10px;
    border: none;
    border-radius: $br-lg;
    text-transform: capitalize;
    color: #fff;
}

.button-book {
    font-size: 0.875em;
    font-family: 'Robotomedium';
    padding: 20px 30px;
    border: none;
    text-transform: capitalize;
    color: #fff;
    background-color: #2f8cda;
}