button {
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}

.button-secondary {
    font-size: 0.75em;
    font-family: 'Robotomedium';
    padding: 5px 10px;
    border: none;
    border-radius: $br-lg;
    text-transform: capitalize;
    color: #fff;
}

.button-tertiary {
    @include ofl-ellipsis;
    font-size: 0.875em;
    font-family: 'Robotomedium';
    width: 100%;
    max-width: 90px;
    padding: 20px 5px;
    border: none;
    border-radius: $br-default;
    text-transform: capitalize;
    color: #fff;
    background-color: #2f8cda;
}
