.primary-field {
    padding: 10px;
    border: 2px solid $color-br-primary;
    border-radius: $br-default;
    font-size: 0.875em;
    color: $color-text-primary;
    &::placeholder {
        @extend .text-capitalize;
        color: $color-text-primary;
    }
}

.primary-select {
    padding: 15px 30px 15px 5px;
    border: none;
    border-radius: $br-default;
    background: url("../../assets/img/header/arrow-down.png") no-repeat right;
    -webkit-appearance: none;
    color: $color-primary;
    font-size: 0.875em;
    cursor: pointer;
}