//floats
@each $key,$val in $resolutions {
  @media (min-width: $val) {
    // Alignment
    .float-#{$key}-left {
      float: left;
    }
    .float#{$key}-right {
      float: right;
    }
  }
}

//fixes
.clear-after {
  @include clear-after;
}

// item to center
.centered-axis-xy {
  @include position(50%, auto, auto, 50%);
  transform: translate(-50%, -50%);
}

.icon-star.active {
  color: $color-icon-secondary;
}